* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --c-text-1: #333;
    --c-text-2: #666;
    --c-text-a: hsl(0deg 0% 0% / 50%);
    --c-bg-1: #fff;
    --c-bg-2: #f7f9fa;
    --c-bg-3: #eee;
    --c-bg-a: hsl(0deg 0% 100% / 50%);
    --c-primary-1: hsl(220deg 100% 55%);
    --c-primary-2: hsl(210deg 100% 50% / 30%);
    --c-primary-3: hsl(220deg 100% 60% / 15%);
    --c-primary-soft: hsl(240deg 4% 11% / 3%);

    @media (prefers-color-scheme: dark) {
        --c-text-1: #fff;
        --c-text-2: #aaa;
        --c-text-a: hsl(0deg 0% 100% / 50%);
        --c-bg-1: #000;
        --c-bg-2: #111;
        --c-bg-3: #222;
        --c-bg-a: hsl(0deg 0% 0% / 50%);
        --c-primary-1: hsl(220deg 100% 70%);
        --c-primary-2: hsl(210deg 100% 70% / 30%);
    }

    background-color: var(--c-bg-1);
    font-family: sans-serif;
    color: var(--c-text-1);
}

::selection {
    background-color: var(--c-primary-2);
}

p {
    line-height: 1.4;
}

mark {
    background: linear-gradient(var(--c-primary-2), var(--c-primary-2)) no-repeat center bottom / 100% 0.3em;
    text-decoration: none;
    color: var(--c-primary-1);
    transition: 0.2s;

    &:hover {
        background: linear-gradient(var(--c-primary-2), var(--c-primary-2)) no-repeat center bottom / 100% 100%;
    }
}

.text-primary {
    color: var(--c-primary-1);
}

.wrapper {
    max-width: 768px;
    margin: 0 auto;
}

