$breakpoint-mobile: 768px;

:root {
    --c-text-1: hsl(0deg 0% 20%);
    --c-text-2: hsl(0deg 0% 40%);
    --c-text-a: hsl(0deg 0% 0% / 50%);
    --c-bg-1: hsl(0deg 0% 100%);
    --c-bg-2: hsl(200deg 20% 97%);
    --c-bg-3: hsl(200deg 20% 95%);
    --c-border: hsl(200deg 20% 90%);
    --c-bg-a50: hsl(0deg 0% 100% / 50%);
    --c-primary-1: hsl(220deg 100% 55%);
    --c-primary-2: hsl(210deg 100% 50% / 30%);
    --c-primary-3: hsl(215deg 100% 60% / 15%);
    --c-primary-soft: hsl(240deg 20% 20% / 5%);

    @mixin apply-dark-theme-vars {
        --c-text-1: hsl(0deg 0% 90%);
        --c-text-2: hsl(0deg 0% 60%);
        --c-text-a: hsl(0deg 0% 100% / 50%);
        --c-bg-1: hsl(0deg 0% 0%);
        --c-bg-2: hsl(0deg 0% 7%);
        --c-bg-3: hsl(0deg 0% 15%);
        --c-border: hsl(0deg 0% 20%);
        --c-bg-a50: hsl(0deg 0% 0% / 50%);
        --c-primary-1: hsl(220deg 100% 70%);
        --c-primary-2: hsl(210deg 100% 70% / 30%);
        --c-primary-3: hsl(215deg 100% 60% / 20%);
        --c-primary-soft: hsl(220deg 100% 95% / 10%);
    }

    @media (prefers-color-scheme: dark) {
        &:not([data-theme="light"]) {
            @include apply-dark-theme-vars;
        }
    }
    
    &[data-theme="dark"] {
        @include apply-dark-theme-vars;
    }
}
