:root {
  --vp-font-family-base: 'Chinese Quotes', 'Inter var', 'Inter', HarmonyOS_Medium, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco, 'Cascadia Code', Consolas, 'Liberation Mono', 'Courier New', HarmonyOS_Medium, monospace;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(60deg, #5cf, #46e);
  --vp-home-hero-image-background-image: linear-gradient(120deg, #5cf 50%, #46e 50%);
  --vp-home-hero-image-filter: blur(8em);
}

.VPMenuGroup>.title{
  font-size: 11px;
}

.VPImage {
  border-radius: 100%;
}

.vp-doc a {
  transition: .2s;
  text-decoration: underline var(--vp-c-brand-soft);

  border-radius: .2em;
  outline: .1em solid transparent;
}

.vp-doc a:hover {
  outline: .1em solid var(--vp-c-brand-soft);
  background: var(--vp-c-brand-soft);
}

.fa-solid,
.fa-regular,
.fa-brands {
  width: 1.3em;
  text-align: center;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  height: 1.5em;
}