:root {
	--font-family: "InterVariable", "Noto Sans SC", system-ui, sans-serif;
	--font-monospace: ui-monospace, "JetBrains Mono", "Cascadia Code", "Consolas", "monospace", var(--font-family), monospace;

	overflow-wrap: break-word;
	background-color: var(--c-bg);
	font-family: var(--font-family);
	line-height: 1.4;
	text-autospace: normal;
	text-size-adjust: none;
	color: var(--c-text-1);
	transition: color 0.1s, background-color 0.2s;
	scrollbar-color: var(--c-text-3) var(--c-bg-2);
	font-variant-alternates: styleset(open-digits, disambiguation, round-quotes-and-commas);
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

*, ::before, ::after {
	box-sizing: border-box;
}

::selection {
	background-color: var(--c-primary-soft);
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: var(--c-primary-soft);
}

code, pre {
	font-family: var(--font-monospace);
	font-size: 0.9em;
	text-autospace: no-autospace;
}

menu, ol, ul {
	list-style: none;
}

button {
	cursor: pointer;

	.iconify:only-child {
		display: block;
	}
}

button, input, textarea {
	background: none;
	font: inherit;
	color: currentcolor;

	&:disabled {
		cursor: not-allowed;
	}
}

p {
	line-height: 1.4;

	& + p {
		margin-top: 0.8em;
	}
}

mark {
	background: linear-gradient(var(--c-primary-soft), var(--c-primary-soft)) no-repeat left bottom / 100% 0.3em;
	text-decoration: none;
	color: var(--c-primary);
	transition: 0.2s;
	animation: line-spread 0.5s;

	@keyframes line-spread {
		from { background-size: 0 0.3em; }
	}

	&:hover {
		background-size: 100% 50%;
	}
}

:where(.iconify) {
	display: inline-block;
	flex-shrink: 0;
	font-size: 1.2em;
	vertical-align: sub;
}

.tippy-box {
	padding: 0.3em 0.6em;
	border-radius: 0.5em;
	box-shadow: 0 0 1rem var(--ld-shadow);
	background-color: var(--ld-bg-card);
	font-size: 0.8rem;
	line-height: 1.4;
	color: var(--c-text-2);

	&[data-state="hidden"] {
		opacity: 0;
	}

	> .tippy-svg-arrow {
		fill: var(--ld-bg-card);
	}
}

.text-primary {
	color: var(--c-primary);
}

.wrapper {
	max-width: 768px;
	margin: 0 auto;
}
